/*
   CIT 205 Web Development Tools
   Charlyn Woodruff
   Oct. 6, 2023 */

$html_bkground: url("images/dots.jpg");
$main_bkgrd: url("images/swirl.jpg");
$bkgrd_col: rgb(2, 2, 2);
$bkgrd_size: 400px;
$repeat: repeat;
$color: white;
$border_color: white;
$border_style: solid;
$border-size: 6px;
$border_top_color:rgb(43, 119, 207);
$body_bkgrd_color: rgb(43, 119, 207);
$m_bkgrd_color: rgb(180, 18, 1);
$lst_style: none;
$websiteh1_font:"Tangerine", Arial, Helvetica, sans-serif;
$websiteh1_font_sz: 5.5em;
$text_indent: 10px;
$li_a_font_sz: 1.3em;
$li_pding_rt: 15px;
$tbl_height: 400px;
$tbl_width: 100%;
$auto: auto;

html{
    background-image: $html_bkground;
    background-size: $bkgrd_size;
    background-repeat: $repeat;

    body{
        background-color: $body_bkgrd_color;
        }
        main, .bar{
            background-image: $main_bkgrd;
            background-size: $bkgrd_size;
            background-repeat: $repeat;
        }
        div{
            background-color: $bkgrd_col;
        }
        #website{
            font-family: $websiteh1_font;
            font-size: $websiteh1_font_sz;
        }
        #l{
            border-top: $border_top_color $border_style $border-size ;
            color: $color;
        }
        #m{
           background-color: $m_bkgrd_color;
            color: $color;
            border-top: $border_color $border_style $border-size;
        }
        .message{
            font-family:$websiteh1_font;
            font-size: $websiteh1_font_sz;
        }
        #n{
            background-color: $bkgrd_col;
            border: $border_color $border_style $border-size;
        }
        h1, h2, h4, h6, p {
            text-indent: $text_indent;
        }
        ul li, li{
            padding-right: $li_pding_rt;
            list-style-type: $lst_style;
        }
        li a, li a:visited{
            font-size: $li_a_font_sz;
            color: $color;
        }
        #table{
            width: $tbl_width;
            height: $tbl_height;
            margin-left: $auto;
            margin-right: $auto;

        }

        footer{
            background-color:$bkgrd_col;
        }
    }